*
{
  box-sizing: border-box;
}
html
{
    height: 100%;
}
body
{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}
.login-box
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.login-page
{
    text-align: center;
    width:40%;
}
.vertical-partition
{
    height:35%;
    width: 2px;
    border-left: 2px solid white;
}
.register-page
{
    text-align: center;
    width:40%;
}
.login-box h2
{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.login-box form a
{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    text-overflow: ellipsis;
    max-width: 370px;
}
.login-box a:hover
{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}  
.login-box a span
{
    position: absolute;
    display: block;
}
.login-box a span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1
{
    0%
    {
        left: -100%;
    }
    50%,100%
    {
        left: 100%;
    }
}
.login-box a span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}
@keyframes btn-anim2
{
    0%
    {
        top: -100%;
    }
    50%,100%
    {
        top: 100%;
    }
}
.login-box a span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}
@keyframes btn-anim3
{
    0%
    {
        right: -100%;
    }
    50%,100%
    {
        right: 100%;
    }
}
.login-box a span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}
@keyframes btn-anim4
{
    0%
    {
        bottom: -100%;
    }
    50%,100%
    {
        bottom: 100%;
    }
}
.striped
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.striped-line
{
    flex: auto;
    flex-basis: auto;
    border: none;
    outline: none;
    height: 2px;
    background: #dadce0;
}
.striped-text
{
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: inherit;
    color: #fff;
    margin: 0 1rem;
}
.login-box .user-box
{
    position: relative;
}
.login-box .user-box input
{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label
{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input:focus ~ label, .login-box .user-box input:valid ~ label, #currentMetamask label
{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}
#loginButton, #registerButton
{
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    transition: .5s;
    border: none;
}
#uploadIDButton
{
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    transition: .5s;
    border: none;
    margin-bottom: 20px;
    max-width: 100%;
    text-overflow: ellipsis;
}
#loginButton:hover, #registerButton:hover, #uploadIDButton:hover
{
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
}
.custom-dropdown
{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}
.custom-dropdown select
{
    background-color: #03e9f4;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em; 
    border: 0;
    margin: 0;
    border-radius: 5px;
    text-indent: 0.01px;
    text-overflow: '';
    transition: .5s;
    outline: none;
}
.custom-dropdown select:hover
{
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
}
.custom-dropdown::before, .custom-dropdown::after
{
    content: "";
    position: absolute;
    pointer-events: none;
}
.custom-dropdown::after
{
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}
.custom-dropdown::before
{
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 5px 5px 0;
}
.custom-dropdown select[disabled]
{
    color: rgba(0,0,0,.2);
}
.custom-dropdown select[disabled]::after
{
    color: rgba(0,0,0,.1);
}
.custom-dropdown::before
{
    background-color: rgba(0,0,0,.15);
}
.custom-dropdown::after
{
    color: rgba(0,0,0,.4);
}
.switch
{
    font-size: 16px;
    color: #fff;
    display: none;
}
.switch a
{
    text-transform: none !important;
    font-size: 16px !important;
    padding: 0px !important;
    font-size: 16px !important;
    letter-spacing:normal !important;
    display: inline !important;
}
.switch a:hover
{
    color:#fed33f !important;
    background:none;
    border-radius:0px;
    box-shadow:none;
}
@media only screen and (max-width: 1000px)
{
    .login-box
    {
        width: min-content;
        min-width: 350px;
    }
    .login-page, .register-page
    {
        width: 100%;
    }
    .switch
    {
        display: block;
    }
    .middle-line
    {
        display: none !important;
    }
    .login-page:not(.active)
    {
        display: none;
    }
    .register-page:not(.active)
    {
        display: none;
    }
}